<div class="button-container">
  <button mat-raised-button color="primary" (click)="openContactForm(id)">
    + Contact
  </button>
</div>

<div class="cards-container">
  <mat-card class="example-card" *ngFor="let contact of company.contacts; let i = index">
    <mat-card-header>
      <div class="mat-card-header-content">
      <mat-card-title>
        {{ contact.contactName }}
        <span *ngIf="contact.title"> - ({{ contact.title }})</span>
      </mat-card-title>
      
      <mat-card-subtitle>{{ contact.email }}</mat-card-subtitle>
      <mat-card-subtitle>{{ contact.phone }}</mat-card-subtitle>
      <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="menu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <img
        mat-card-avatar
        src="https://www.w3schools.com/howto/img_avatar.png"
      />
    </div>
    </mat-card-header>
    <mat-card-content>
      {{ contact.notes }}
    </mat-card-content>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="openEditForm(i,id)">
        <mat-icon>edit</mat-icon>
        <span>Edit</span>
      </button>
      <button mat-menu-item (click)="onDeleteContact(i)">
        <mat-icon>delete_forever</mat-icon>
        <span>Delete</span>
      </button>
    </mat-menu>
  </mat-card>
</div>
