<router-outlet></router-outlet>
<div class="main-body">
  <mat-form-field>
    <mat-label>Filter</mat-label>
    <input
      matInput
      (keyup)="applyFilter($event)"
      placeholder="Company Name"
      #input
    />
  </mat-form-field>

  <div class="table-container">
    <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
      <!-- ID Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef class="mat-column-id">ID</th>
        <td mat-cell *matCellDef="let company" class="mat-column-id">
          {{ company.id }}
        </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let company">
            <a [routerLink]="['/companys', company.id,'details']">{{ company.name }}</a>
        </td>
      </ng-container>

      <!-- Priority Column -->
      <ng-container matColumnDef="priority">
        <th mat-header-cell *matHeaderCellDef>Priority</th>
        <td mat-cell *matCellDef="let company">
          <span class="badge {{ company.priority }}">{{
            company.priority
          }}</span>
        </td>
      </ng-container>

      <!-- Date Added Column -->
      <ng-container matColumnDef="date-add">
        <th mat-header-cell *matHeaderCellDef>Date Added</th>
        <td mat-cell *matCellDef="let company">
          {{ company.date | date : "dd/MM/yyyy" }}
        </td>
      </ng-container>

      <!-- Notes Column -->
      <ng-container matColumnDef="notes">
        <th mat-header-cell *matHeaderCellDef>Notes</th>
        <td
          mat-cell
          *matCellDef="let company"
          style="
            text-align: justify;
            margin: 2px;
            padding-top: 10px;
            padding-bottom: 10px;
          "
          class="mat-column-notes"
        >
          {{ company.notes }}
        </td>
      </ng-container>

      <!-- Menu Column -->
      <ng-container matColumnDef="menu">
        <th mat-header-cell *matHeaderCellDef>Action</th>
        <td mat-cell *matCellDef="let company">
          <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="menu">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="openEditForm(company.id)">
              <mat-icon>edit</mat-icon>
              <span>Edit</span>
            </button>
            <button mat-menu-item (click)="deleteCompany(company.id)">
              <mat-icon>delete_forever</mat-icon>
              <span>Delete</span>
            </button>
          </mat-menu>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="6">
          No data matching the filter "{{ input.value }}"
        </td>
      </tr>
    </table>

    <mat-paginator
      #paginator
      [pageSizeOptions]="[5, 10, 25, 100]"
      [pageSize]="5"
      showFirstLastButtons
    ></mat-paginator>
  </div>
</div>
