<!-- <div mat-dialog-title><h1>Vessel Form</h1></div>
<form [formGroup]="vesselForm" (ngSubmit)="onVesselFormSubmit()" (keydown.enter)="preventSubmit($event)">
<div mat-dialog-content>
  <div class="row">
    <mat-form-field>
      <mat-label>Vessel Name</mat-label>
      <input matInput type="text" name="vesselName" placeholder="XXXXXX" formControlName="vesselName" required/>
      <mat-error *ngIf="vesselForm.get('vesselName').hasError('required')">
        is <strong>required</strong>
      </mat-error>
    </mat-form-field>
  </div>
  <div class="row">
    <mat-form-field>
      <mat-label>Vessel Code</mat-label>
      <input matInput type="text" name="code" placeholder="XXXXXX" formControlName="code" required/>
      <mat-error *ngIf="vesselForm.get('code').hasError('required')">
        is <strong>required</strong>
      </mat-error>
    </mat-form-field>
  </div>
  <div class="row">
    <mat-form-field>
      <mat-label>IP Address</mat-label>
      <input matInput type="text" name="ip_add" placeholder="192.168.XXX.XXX" formControlName="ip_add" required/>
      <mat-error *ngIf="vesselForm.get('ip_add').hasError('required')">
        is <strong>required</strong>
      </mat-error>
    </mat-form-field>
  </div>
  <div class="row">
    <mat-form-field>
      <mat-label>Connection</mat-label>
      <mat-select name="connection" formControlName="connection" required>
        <mat-option *ngFor="let connection of connections" [value]="connection">{{ connection}}</mat-option>
      </mat-select>
      <mat-error *ngIf="vesselForm.get('connection').hasError('required')">
        is <strong>required</strong>
      </mat-error>
    </mat-form-field>
  </div>
  <div class="row">
    <mat-form-field>
      <mat-label>VPN</mat-label>
      <input matInput type="text" name="vpn" placeholder="Email/Password" formControlName="vpn"/>
    </mat-form-field>
  </div>
  <div class="row">
    <mat-form-field>
      <mat-label>Notes</mat-label>
      <textarea matInput name="notes" formControlName="notes"></textarea>
    </mat-form-field>
  </div>
</div>

<div mat-dialog-actions>
  <button mat-raised-button (click)="onReset()"> {{ isEditMode ? 'Cancel' : 'Reset' }}</button>
  <button mat-raised-button color="primary" type="submit">
    {{ isEditMode ? 'Edit' : 'Submit' }}
  </button>
</div>
</form> -->